.header {
  display: flex;
  flex-flow: column;
  & input {
    align-self: center;
    width: 50%;
    font-size: 1.6em;
    border: 2px solid grey;
    border-radius: 8px;
    padding: 2px 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
    &:focus {
      border-color: rgb(58, 58, 161);
    }
  }
}
